<div class="check-email-card">
    <div class="card-header">
        <div class="icon">
            <div class="check-email-icon"></div>
        </div>
    </div>

    <div class="card-body">
        <h1 class="carda-title">check your emai</h1>
        <p class="validation-text">We sent a verification link to <a href="#" class="primary-link"></a></p>
    </div>

    <footer class="card-footer">
        <button class="block-primary">Enter code manually</button>
    </footer>
    
    <div class="back">
        <button class="block-secondary">
            <div class="icon">
                <div class="back-arrow-icon"></div>
            </div>
            back to log in
        </button>
    </div>
</div>
