@import "../global-styles/base";
@import "../global-styles/vars";
@import "../global-styles/typography";
.contact-card {
    width: 480px;
    margin: 0 auto;
    padding: 96px 0;

    .contact-form {
        margin-top: 96px;
    }
    label {
        display: block;
        font-size: 14px;
    }

    #f-name,
    #l-name {
        width: 224px;
        height: 24px;
        padding: 14px;
        border: 1px solid $clr-base-border;
    }

    .email,
    .phone-number,
    .message {
        width: 480px;
        height: 24px;
        padding: 14px;
         border: 1px solid $clr-base-border;

         &:focus {
            outline: none;;
         }
    }
    .message {
        resize: none;
        height: 110px;
        font-family: inherit;

        &:focus {
            outline: 0;
        }
    }

    input {

        border: none;
        font-size: 16px;
    }

    .form-group {
        margin-bottom: 24px;

        .block-primary {
            width: 480px;
            padding: 10px;
            background: $clr-primary;
            border: 1px solid $clr-primary;
            font-size: 18px;
            text-transform: capitalize;
            color: $clr-light-text;
            // font-weight: 600;
            letter-spacing: 1px;
            border-radius: 8px;

            &:hover {
                cursor: pointer;
            }
        }

        button {
            border: none;
        }
    }
    
}