<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
    <div class="row">
        <div class="form-group">
            <!----- user name ----->
        </div>
        <div class="form-group">
            <!----- user last name ----->
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <!----- user email ----->
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <!----- subject ----->
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <!----- message ----->
        </div>
    </div>
    <div class="row">
        <div class="form-grpup">
            <!----- submit button primary ----->
        </div>
    </div>
</form>
