<div class="table-card">
    <table class="user-list">
        <thead>
            <tr>
                <th>
                    <ng-custom-checkbox />
                    Name
                </th>
                <th>
                    status 
                    <div class="icon">
                        <div class="down-arrow"></div>
                    </div>
                </th>
                <th>role</th>
                <th>email address</th>
                <th>teams</th>
                <th><!----- empty for the icons -----></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ng-custom-checkbox />
                    <div class="profile">
                        <img src="../../../assets/avatars/olivia-rhye.png" alt="">
                        <div class="info">
                            <div class="user-name">olivia rhye</div>
                            <div class="email">olivia@untitledui.com</div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="status">
                        <div class="active-badge"></div>
                        active
                    </div>

                </td>
            </tr>
        </tbody>
    </table>
</div>
