<ng-header />
<div class="login-card">
    <div class="card-header">
        <div class="icon">
            <img src="../../assets/icons/logo.svg" alt="logo" />
        </div>
        <div class="card-title">create an account</div>
        <p>Start your 30-day free trial.</p>
    </div>
    <div class="card-body">
        <form [formGroup]="loginForm"class="login-form" (submit)="login()">
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" placeholder="Enter your email" >
            </div>
            <div class="form-group">
                <label for="password">email</label>
                <input id="password" type="password" placeholder="Enter your password" >
            </div>
            <div class="form-group">
                <ng-custom-checkbox /> Remember me <a routerLink="/forgot-password" class="forgot-password">Forgot password?</a>
            </div>
       
            <div class="form-group">
                <button class="block-primary">get started</button>
            </div>
        </form>
    </div>
</div>
