@import "vars";
.primary-link {
    color: $clr-primary;
    text-decoration: none;

}

.card-title {
    font-size: 30px;
    text-align: center;
}
label {
    display: block;
    font-size: 14px;
    margin-bottom: 6px;
    color: $clr-label-text
}

.supportive-text {
    color: $clr-primary;
    text-align: center;
    text-transform: capitalize;
    bottom: 6px;

}

.large-text {
    font-size: 18px;;
    text-align: center;
    margin-top: 24px;
}

.form-text {
    font-size: 14px;
    width: 420px;
    margin-left: 10px;
    color: #475467;
}