
<header class="primary">
    <div class="container">
        <div class="row">
            <div class="col">
                <a routerLink="/home" class="logo-link">
                    <div class="logo">
                        <div class="img">
                            <img src="../../assets/icons/logo.svg" alt="logo">
                        </div>
                        <div class="logo-text">Kaylios</div>
                    </div>
                </a>
            </div>

            <div class="col">
                <nav class="primary-nav">
                    <ul>
                        <li><a routerLink="/home">home</a></li>
                        <li><a href="#">portfolio</a></li>
                        <li><a routerLink="/contact">contact/hire me</a></li>
                        <li><a href="https://github.com/elite-coder-5150">GitHub</a></li>
                        <li><a routerLink="/add-note">Add Note</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col">
                <div class="button-group">
                    <a routerLink="/login" class="md-secondary">login</a>
                    <a routerLink="/register" class="md-primary">Register</a>
                </div>
            </div>
        </div>
    </div>
</header>
